<%= form_for(@drinktwo) do |f| %>
  <% if @drinktwo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drinktwo.errors.count, "error") %> prohibited this drinktwo from being saved:</h2>

      <ul>
      <% @drinktwo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :temperature %><br>
    <%= f.number_field :temperature %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
