<p id="notice"><%= notice %></p>

<h1>Listing Drinktwos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Temperature</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drinktwos.each do |drinktwo| %>
      <tr>
        <td><%= drinktwo.name %></td>
        <td><%= drinktwo.temperature %></td>
        <td><%= link_to 'Show', drinktwo %></td>
        <td><%= link_to 'Edit', edit_drinktwo_path(drinktwo) %></td>
        <td><%= link_to 'Destroy', drinktwo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drinktwo', new_drinktwo_path %>
