<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @drinktwo.name %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @drinktwo.temperature %>
</p>

<%= link_to 'Edit', edit_drinktwo_path(@drinktwo) %> |
<%= link_to 'Back', drinktwos_path %>
